#menu {
}

#menu_top {
    width: 300px;
    height: 20px;
    background: #e2e2e2; /* Old browsers */
    background: -moz-linear-gradient(top, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e2e2), color-stop(50%,#dbdbdb), color-stop(51%,#d1d1d1), color-stop(100%,#fefefe)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* IE10+ */
    background: linear-gradient(to bottom, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-weight:bold;
    color:#000000;
    letter-spacing:7pt;
    word-spacing:2pt;
    font-size:17px;
    text-align:center;
    font-family:lucida sans unicode, lucida grande, sans-serif;
    line-height:1;
}

#menu_top:hover {
    cursor: pointer;
}

#menu_bot {
    width: 300px;
    height: 80px;
}

#menu_mysliwce_container {
    width: 110px;
    height: 80px;
    float: left;
    background-color: white;
}

#menu_bombowce_container {
    width: 110px;
    height: 80px;
    float: left; 
    background-color: white;   
}

#menu_home {
    width: 80px;
    height: 80px;
    float: left;
}

#menu_home a {
    display: block;
    width: 80px;
    height: 80px;
    background-image: url(../img/menu_background.png);
    background-position: -110px 0;
}

#menu_mysliwce {
    width: 110px;
    height: 40px;
}

#menu_mysliwce a {
    display: block;
    width: 110px;
    height: 40px;
    background-image: url(../img/menu_background.png);
}

#menu_mysliwce_pulpit {
    width: 55px;
    height: 40px;
    float: left;
}

#menu_mysliwce_pulpit a {
    display: block;
    width: 55px;
    height: 40px;
    background-image: url(../img/menu_background.png);
    background-position: 0 -40px;
}

#menu_mysliwce_projektor {
    width: 55px;
    height: 40px;
    float: left;
}

#menu_mysliwce_projektor a {
    display: block;
    width: 55px;
    height: 40px;
    background-image: url(../img/menu_background.png);
    background-position: -55px -40px;
}

#menu_bombowce {
    width: 110px;
    height: 40px;
}

#menu_bombowce a {
    display: block;
    width: 110px;
    height: 40px;
    background-image: url(../img/menu_background.png);
    background-position: -190px 0;
}

#menu_bombowce_pulpit {
    width: 55px;
    height: 40px;
    float: left;
}

#menu_bombowce_pulpit a {
    display: block;
    width: 55px;
    height: 40px;
    background-image: url(../img/menu_background.png);
    background-position: -190px -40px;
}

#menu_bombowce_projektor {
    width: 55px;
    height: 40px;
    float: left;
}

#menu_bombowce_projektor a {
    width: 55px;
    height: 40px;
    display: block;
    background-image: url(../img/menu_background.png);
    background-position: 55px -40px;
}

.menu_hover_black:hover {
    background-color: black;
    cursor: pointer;
}

#menu a:hover {
    cursor: pointer;
}