#mysliwce_ksiazka_pulpit {
    position: absolute;
    z-index: 1;
    width: 600px;
    height: 380px;
}
#mysliwce_wybor {
    width: 280px;
    height: 380px;
    float: left;
}
#mysliwce_wybor_flagi {
    width: 280px;
    height: 50px;
}
#mysliwce_wybor_flagi_gb_div {
    width: 75px;
    height: 40px;
    float: left;
    margin: 5px 10px;
    cursor: pointer;
}

#mysliwce_wybor_flagi_gb_div:hover {
    border: 2px solid white;
    margin: 3px 8px;
}

#mysliwce_wybor_flagi_ger_div {
    width: 75px;
    height: 40px;
    float: left;
    margin: 5px 10px;
    cursor: pointer;
}

#mysliwce_wybor_flagi_ger_div:hover {
    border: 2px solid white;
    margin: 3px 8px;
}

.mysliwce_pulpit_samoloty_lista {
    width: 280px;
}

.mysliwce_pulpit_samoloty_lista ul {
    list-style-type: none;
    padding: 10px 0;
    margin: 0;
}

.mysliwce_pulpit_samoloty_lista ul li {
    list-style-type: none;
    display: block;
    width: 280px;
}

.mysliwce_pulpit_samoloty_lista ul li > a:first-child {
    display: block;
    text-decoration: none;
    width: 220px;
    color: black;
    padding-left: 10px;
    float: left;
    background-color: rgba(175, 175, 175, 0.5);
    cursor: default !important;
}

.mysliwce_pulpit_samoloty_lista ul li > a:last-child {
    display: block;
    text-decoration: none;
    width: 40px;
    color: black;
    padding-left: 10px;
    float: left;
    text-decoration: underline;
}

.mysliwce_pulpit_samoloty_lista ul li a:hover {
    background-color: rgba(175, 175, 175, 0.5);
    cursor: pointer;
}

#mysliwce_info {
    width: 280px;
    margin-left: 40px;
    float: left;
}